# Apify Settings
APIFY_API_TOKEN=pon_tu_token_aqui
# IDs de los Scrapers (Actors)
APIFY_ACTOR_TIKTOK_VIDEOS=clockworks/tiktok-scraper
APIFY_ACTOR_TIKTOK_COMMENTS=clockworks/tiktok-comments-scraper
APIFY_ACTOR_INSTAGRAM=apify/instagram-scraper

MAX_SCRAPE_ITEMS=100

# Database Settings
DB_PATH=sqlite:///../data/trends.db
